@font-face {
  font-family: 'Neue-Metana';
  src: url('../src/assets/fonts/NeueMetana-Bold.otf') format('opentype');
  font-style: normal;
  font-weight:bold;
}

@font-face {
  font-family: 'Neue-Metana';
  src: url("../src/assets/fonts/NeueMetana-Regular.otf") format('opentype');   
  font-style: normal;
  font-weight:normal;
}

@font-face {
  font-family: 'Neutral-Face';
  src: url("../src/assets/fonts/NeutralFace-Bold.otf") format('opentype');   
  font-style: normal;
  font-weight:bold;
}

@font-face {
  font-family: 'Neutral-Face';
  src: url("../src/assets/fonts/NeutralFace.otf") format('opentype');   
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Space-Grotesk';
  src: url("../src/assets/fonts/SpaceGrotesk-Bold.ttf") format('truetype');
  font-style: normal;
  font-weight:bold;
}

@font-face {
  font-family: 'Space-Grotesk';
  src: url("../src/assets/fonts/SpaceGrotesk-Regular.ttf") format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Space-Grotesk';
  src: url("../src/assets/fonts/SpaceGrotesk-Medium.ttf") format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Space-Grotesk';
  src: url("../src/assets/fonts/SpaceGrotesk-SemiBold.ttf") format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Space-Grotesk';
  src: url("../src/assets/fonts/SpaceGrotesk-Light.ttf") format('truetype');
  font-style: normal;
  font-weight: 300;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root{
  --primary-black: #000000;
  --primary-ivory: #F9F8F8;
  --primary-scarlet: #B71414;
  --secondary-emrald: #00CC66;
  --secondary-majorelle: #623CEA;
  --secondary-raspberry: #DB2955;
  --secondary-naples-yellow: #F1DB4B;
  --secondary-perrywinkle: #DAC4F7;
  --tertiary-lighter-backdrop:  rgba(255, 255, 255, 0.10);
  --button-font: "Neutral-Face", Arial, sans-serif;
  --tiny-font: "Space-Grotesk", Times, serif;
}

.currentLogo {
  height: 2em;
}

body {
  background-color: var(--primary-black);
  padding: 25px 25px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-color: var(--primary-ivory);
  border-width: 1px;
  border-style: solid;
  color: var(--primary-ivory);
  font-family: var(--button-font);
  font-size: 0.75em;
  font-weight: bold;
}

#root {
  margin: 0;
  width: 100%;
  max-width: 100%;
  padding: 20;
}

.nav-bar__links {
  display: flex;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  /* width: 50%; */
}

.headerButton {
  color: var(--primary-ivory);
  padding: 0.5em 1em;
  font-size: 1em;
  border-color: var(--primary-black);
  border-style: solid;
  border-width: 0.5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.headerButton:hover {
  /* styles for when the mouse is over the button */
  border-color: var(--primary-ivory);
  border-style: solid;
  border-width: 0.5px;
  color: var(--primary-ivory);
}

.headerButton:active {
  /* styles for when the button is being clicked */
  background-color: var(--primary-ivory);
  color: var(--primary-black);
  border-color: var(--primary-black);
  border-style: solid;
  border-width: 0.5px;
}

.contactButton{
  background-color: var(--tertiary-lighter-backdrop);
  color: var(--primary-ivory);
  border-color: var(--primary-black);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 0%;
  outline: none;
}

.contactButton:hover {
  background-color: var(--primary-ivory);
  color: var(--primary-black);
  border-radius: 0%;
  outline: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #F9F8F8;
  color: rgba(255, 255, 255, 0.05);
  border-radius: 0%;
  font-family: var(--tiny-font);
  font-size: 1em;
  font-weight: bold;
}

.footerLogo {
  height: 2em;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 30%;
}

.footerIcon {
  width: max-content; 
  will-change: filter;
}

.footerSocials {
  display: flex;
  align-items: center;
  max-width: 16%;
  padding: 0 2.5px; /* create a gap of 50px between the children */
}

.footerContacts {
  display: block;
  text-align: left;
}

.footerText {
  font-size: 0.8em;
  color: #1F1E32;
  font-weight: bold;
}

.footer__Links {
    display: grid; /* use CSS Grid */
    grid-template-columns: 1fr 1fr 1fr; /* create 3 columns of equal width */
    justify-items: left; /* center items horizontally */
    align-items: center; /* center items vertically */
    gap: 20px; /* create a gap between the grid items */
    max-width: 30%;
}

.footerButton{
  color: #1F1E32;
  border: none;
  border-radius: 15px;
  padding: 0.5em 1em;
  font-size: 0.9em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}



.leftDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.heroText {
  font-family: 'Neue-Metana',  sans-serif;
  align-self: flex-start; 
  text-align: left;
  font-weight: bold;
  font-style: normal;
  padding: 10px 0px;
  margin: 0px;
}

.heroSection {
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: 100%;
}

.newEpisodeContainer {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  min-height: 90vh;
}

.profileHeadshot {
  flex: 1;
  max-width: 30%;
}

.alpha {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.beta {
  grid-column: 3 / 3;
  grid-row: 1 / 4;
}

.omega {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.sharingan {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.postCardButton {
  position: relative;
  width: 100%; /* Make sure button fills parent container */
  height: 100%; /* Make sure button fills parent container */
  border: none;
  padding: 0; /* Remove default padding */
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 6, 6, 0.5); /* Adjust the color and opacity here */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Aligns items to the start of the flex container. In this case, to the left */
  align-items: flex-start; /* Pushes items to the end of the container. In this case, to the bottom */
}

.postCardTitle {
  color: var(--primary-ivory); /* Adjust text color */
  margin: 20px; /* Remove default margin */
  font-family: "Neutral-Face";
  font-size: 1.25em;
  font-weight: bold;
  text-align: left;
  word-wrap: break-word;
}


.tagContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  gap: 10px;
  margin: 0px 20px 20px 20px;
}

.tagBody {
  background-color: var(--primary-ivory);
  color: var(--primary-black);
  padding: 0px 10px;
  font-family: "Space-Grotesk";
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase; 
}

.heroImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.nameText {
  color: var(--primary-ivory);
  font-family: "Neutral-Face";
  font-size: 1.25em;
  font-weight: bold;
  text-align: left;
  word-wrap: break-word;
  margin: 0px 0px 20px 0px;
}

.jobText {
  color: var(--primary-ivory);
  font-family: "Neue-Metana";
  font-size: 2.1em;
  font-weight: bold;
  text-align: left;
  max-width: 100%;
  margin: 0px 0px 15px 0px;
}

hr {
  border: none;
  border-top: 1px solid var(--primary-ivory);
  color: var(--primary-ivory);
  background-color: var(--primary-ivory);
  height: 1px;
  width: 100%;
  margin: 20px 0px;
  opacity: 0.5;
}

.homePage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  margin: 50px auto;
  width: 100%;
}

.aboutSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5px;
}

.aboutImageHolder {
  flex: 1;
  max-width: 100%;
  background-image: url('https://source.unsplash.com/a-view-of-the-city-of-london-at-dusk-OjfMXewtQK0');
  background-size: cover; /* This will scale the image to cover the entire div */
  background-position: center; /* This will center the image in the div */
}

.aboutSummary {
  max-width: 30%;
}

.sectionHeading{
  color: var(--primary-ivory);
  font-family: "Neue-Metana";
  font-size: 1.75em;
  text-align: left;
  max-width: 100%;
  margin: 0px;
}

.blackBackgroundBody {
  color: var(--primary-ivory);
  font-family: "Space-Grotesk";
  font-size: 1em;
  text-align: left;
  max-width: 100%;
  margin: 0px;
}

.blackBackgroundButton {
  color: var(--primary-black);
  background-color: var(--primary-ivory);
  font-family: 'Neutral-Face';
  font-weight: bold;
  border: none;
  padding: 0.5em 1em;
  font-size: 0.9em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.servicesSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 5px;
  width: 100%;
  height: auto;
}

.servicesOverview{
  width: 300px;
  height: 300px;
}

.serviceList {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
}

.serviceCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--primary-ivory);
  align-items: flex-start;
  gap: 10px;
  padding: 5px;
  background-color: var(--primary-ivory);
  height: 300px;
  width: 300px;
  
}

.serviceIcon {
  width: 40px; /* or whatever size you want */
  height: auto; /* this will maintain the aspect ratio */
}

.iconPath {
  fill: var(--primary-black);
  transform: scale(2.25);
}

.serviceText {
  color: var(--primary-black);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 20px;
}

.whiteBackgroundH4 {
  color: var(--primary-scarlet);
  font-family: "Neutral-Face";
  font-size: 1.25em;
  font-weight: bold;
  text-align: left;
  max-width: 100%;
  margin: 0px;
}

.whiteBackgroundBody{
  color: var(--primary-black);
  font-family: "Space-Grotesk";
  font-size: 1em;
  text-align: left;
  max-width: 100%;
  margin: 0px;
}

.whiteBackgroundButton {
  color: var(--primary-scarlet);
  background-color: var(--primary-ivory);
  font-family: 'Neutral-Face';
  font-weight: bold;
  border: 1px solid var(--primary-scarlet);
  padding: 0.5em 1em;
  font-size: 0.9em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#wbb{
  color: var(--primary-scarlet);
  background-color: var(--primary-ivory);
  font-family: 'Neutral-Face';
  font-weight: bold;
  border: 2px solid var(--primary-scarlet);
  padding: 0.5em 1em;
  font-size: 0.9em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.buttonLink {
  font-family: 'Neutral-Face';
  font-weight: bold;
  color: var(--primary-scarlet);
}

.serviceImageHolder{
  display: flex;
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  max-height: 100%;
  background-image: url('https://source.unsplash.com/high-rise-buildings-iSZJxklblkw');
  background-size: cover; /* This will scale the image to cover the entire div */
  background-position: center; /* This will center the image in the div */
  overflow: hidden;
}

.backgroundVideo {
  display: none;
}

.blackBackgroundButtonLink {
  font-weight: bold;
  color: var(--primary-black);
}

.overViewSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  gap: 20px;
  border: 1px solid var(--primary-ivory);
  padding: 5px;
}

.skillsOverview{
  max-width: 30%;
}