@font-face {
  font-family: 'Neue-Metana';
  src: url('../src/assets/fonts/NeueMetana-Bold.otf') format('opentype');
  font-style: normal;
  font-weight:bold;
}

@font-face {
  font-family: 'Neue-Metana';
  src: url("../src/assets/fonts/NeueMetana-Regular.otf") format('opentype');   
  font-style: normal;
  font-weight:normal;
}

@font-face {
  font-family: 'Neutral-Face';
  src: url("../src/assets/fonts/NeutralFace-Bold.otf") format('opentype');   
  font-style: normal;
  font-weight:bold;
}

@font-face {
  font-family: 'Neutral-Face';
  src: url("../src/assets/fonts/NeutralFace.otf") format('opentype');   
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Space-Grotesk';
  src: url("../src/assets/fonts/SpaceGrotesk-Bold.ttf") format('truetype');
  font-style: normal;
  font-weight:bold;
}

@font-face {
  font-family: 'Space-Grotesk';
  src: url("../src/assets/fonts/SpaceGrotesk-Regular.ttf") format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Space-Grotesk';
  src: url("../src/assets/fonts/SpaceGrotesk-Medium.ttf") format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Space-Grotesk';
  src: url("../src/assets/fonts/SpaceGrotesk-SemiBold.ttf") format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Space-Grotesk';
  src: url("../src/assets/fonts/SpaceGrotesk-Light.ttf") format('truetype');
  font-style: normal;
  font-weight: 300;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root{
  --primary-black: #000000;
  --primary-ivory: #F9F8F8;
  --primary-scarlet: #FF2400;
  --secondary-emrald: #00CC66;
  --secondary-majorelle: #623CEA;
  --secondary-raspberry: #DB2955;
  --secondary-naples-yellow: #F1DB4B;
  --secondary-perrywinkle: #DAC4F7;
}

.currentLogo {
  height: 2.5em;
  will-change: filter;
  transition: filter 300ms;
  fill: black;
  stroke: black;
}

body {
  background-color: var(--primary-black);
  padding: 25px 25px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  border-radius: 15px;
}

#root {
  margin: 0;
  width: 100%;
  max-width: 100%;
  padding: 20;
}

.nav-bar__links {
  display: flex;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.headerButton {
  color: #F9F8F8;
  border: none;
  border-radius: 15px;
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.headerButton:hover {
  /* styles for when the mouse is over the button */
  background-color: #F9F8F8;
  color: #09071D;
}

.headerButton:active {
  /* styles for when the button is being clicked */
  background-color: #09071D;
  color: #F9F8F8;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #F9F8F8;
  color: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
}

.footerLogo {
  height: 2.5em;
  will-change: filter;
  transition: filter 300ms;
  fill: black;
  stroke: black;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 30%;
}

.footerIcon {
  width: max-content; 
  will-change: filter;
}

.footerSocials {
  display: flex;
  align-items: center;
  max-width: 16%;
  padding: 0 2.5px; /* create a gap of 50px between the children */
}

.footerContacts {
  display: block;
  text-align: left;
}

.footerText {
  font-size: 0.8em;
  color: #1F1E32;
  font-weight: bold;
}

.footer__Links {
    display: grid; /* use CSS Grid */
    grid-template-columns: 1fr 1fr 1fr; /* create 3 columns of equal width */
    justify-items: left; /* center items horizontally */
    align-items: center; /* center items vertically */
    gap: 20px; /* create a gap between the grid items */
    max-width: 30%;
}

.footerButton{
  color: #1F1E32;
  border: none;
  border-radius: 15px;
  padding: 0.5em 1em;
  font-size: 0.9em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}



.leftDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.heroText {
  font-family: 'Neue-Metana',  sans-serif;
  align-self: flex-start; 
  text-align: left;
  font-weight: bold;
  font-style: normal;
  padding: 10px 0px;
  margin: 0px;
}